-- MariaDB dump 10.19  Distrib 10.4.27-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: allmight
-- ------------------------------------------------------
-- Server version	10.4.27-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `alertas_licitacao`
--

DROP TABLE IF EXISTS `alertas_licitacao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `alertas_licitacao` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `empresa_id` char(36) NOT NULL,
  `licitacao_id` char(36) NOT NULL,
  `score_total` int(11) DEFAULT 0 COMMENT 'Score total de match (0-100)',
  `score_keywords` int(11) DEFAULT 0 COMMENT 'Score baseado em keywords',
  `score_segmento` int(11) DEFAULT 0 COMMENT 'Score baseado em segmento',
  `score_localizacao` int(11) DEFAULT 0 COMMENT 'Score baseado em localizaÔö£┬║Ôö£├║o',
  `score_porte` int(11) DEFAULT 0 COMMENT 'Score baseado em porte',
  `score_valor` int(11) DEFAULT 0 COMMENT 'Score baseado em faixa de valor',
  `keywords_match` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Keywords que fizeram match' CHECK (json_valid(`keywords_match`)),
  `itens_match` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'IDs dos itens que deram match' CHECK (json_valid(`itens_match`)),
  `analise_ia` text DEFAULT NULL COMMENT 'AnÔö£├¡lise gerada pela IA sobre o match',
  `recomendacao` enum('ALTA','MEDIA','BAIXA','NAO_RECOMENDADO') DEFAULT 'MEDIA',
  `status` enum('NOVO','VISUALIZADO','INTERESSADO','DESCARTADO','EM_ANALISE','PROPOSTA_ENVIADA') DEFAULT 'NOVO',
  `prioridade` enum('URGENTE','ALTA','MEDIA','BAIXA') DEFAULT 'MEDIA',
  `visualizado` tinyint(1) DEFAULT 0,
  `data_visualizacao` timestamp NULL DEFAULT NULL,
  `notificado_email` tinyint(1) DEFAULT 0,
  `data_notificacao_email` timestamp NULL DEFAULT NULL,
  `notas` text DEFAULT NULL,
  `data_criacao` timestamp NOT NULL DEFAULT current_timestamp(),
  `data_atualizacao` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_empresa_licitacao` (`empresa_id`,`licitacao_id`),
  KEY `licitacao_id` (`licitacao_id`),
  KEY `idx_empresa_status` (`empresa_id`,`status`),
  KEY `idx_score` (`score_total`),
  KEY `idx_data_criacao` (`data_criacao`),
  KEY `idx_prioridade` (`prioridade`,`data_criacao`),
  KEY `idx_novo` (`status`,`visualizado`),
  CONSTRAINT `alertas_licitacao_ibfk_1` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `alertas_licitacao_ibfk_2` FOREIGN KEY (`licitacao_id`) REFERENCES `licitacoes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=833 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `analises_comerciais`
--

DROP TABLE IF EXISTS `analises_comerciais`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `analises_comerciais` (
  `id` char(36) NOT NULL,
  `match_id` char(36) NOT NULL,
  `licitacao_id` char(36) NOT NULL,
  `empresa_id` char(36) NOT NULL,
  `valor_estimado_proposta` decimal(15,2) DEFAULT NULL COMMENT 'Valor estimado da proposta',
  `margem_lucro_estimada` decimal(5,2) DEFAULT NULL COMMENT 'Margem de lucro esperada (%)',
  `custo_estimado` decimal(15,2) DEFAULT NULL,
  `preco_sugerido` decimal(15,2) DEFAULT NULL,
  `preco_minimo_viavel` decimal(15,2) DEFAULT NULL,
  `preco_maximo_competitivo` decimal(15,2) DEFAULT NULL,
  `preco_medio_mercado` decimal(15,2) DEFAULT NULL,
  `preco_minimo_mercado` decimal(15,2) DEFAULT NULL,
  `preco_maximo_mercado` decimal(15,2) DEFAULT NULL,
  `fonte_precos` varchar(255) DEFAULT NULL COMMENT 'Fonte dos pre├ºos de refer├¬ncia',
  `total_itens` int(11) DEFAULT NULL,
  `itens_compat├¡veis` int(11) DEFAULT NULL,
  `itens_nao_fornecidos` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Itens que a empresa n├úo fornece' CHECK (json_valid(`itens_nao_fornecidos`)),
  `nivel_risco` enum('BAIXO','MEDIO','ALTO','MUITO_ALTO') DEFAULT NULL,
  `fatores_risco` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Fatores de risco identificados' CHECK (json_valid(`fatores_risco`)),
  `viavel_tecnicamente` tinyint(1) DEFAULT NULL,
  `viavel_financeiramente` tinyint(1) DEFAULT NULL,
  `viavel_operacionalmente` tinyint(1) DEFAULT NULL,
  `viavel_juridicamente` tinyint(1) DEFAULT NULL,
  `recursos_necessarios` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Recursos necess├írios para execu├º├úo' CHECK (json_valid(`recursos_necessarios`)),
  `equipe_minima` int(11) DEFAULT NULL COMMENT 'N├║mero m├¡nimo de pessoas',
  `prazo_mobilizacao_dias` int(11) DEFAULT NULL,
  `numero_concorrentes_estimado` int(11) DEFAULT NULL,
  `principais_concorrentes` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`principais_concorrentes`)),
  `recomendacao` enum('ALTAMENTE_RECOMENDADO','RECOMENDADO','NEUTRO','NAO_RECOMENDADO','FORTEMENTE_NAO_RECOMENDADO') DEFAULT NULL,
  `justificativa_recomendacao` text DEFAULT NULL,
  `data_analise` timestamp NOT NULL DEFAULT current_timestamp(),
  `analista_ia` varchar(100) DEFAULT NULL COMMENT 'Modelo de IA que fez a an├ílise',
  PRIMARY KEY (`id`),
  KEY `licitacao_id` (`licitacao_id`),
  KEY `empresa_id` (`empresa_id`),
  KEY `idx_match` (`match_id`),
  KEY `idx_recomendacao` (`recomendacao`),
  KEY `idx_nivel_risco` (`nivel_risco`),
  CONSTRAINT `analises_comerciais_ibfk_1` FOREIGN KEY (`match_id`) REFERENCES `matches` (`id`) ON DELETE CASCADE,
  CONSTRAINT `analises_comerciais_ibfk_2` FOREIGN KEY (`licitacao_id`) REFERENCES `licitacoes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `analises_comerciais_ibfk_3` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='An├ílises comerciais detalhadas dos matches';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `configuracoes`
--

DROP TABLE IF EXISTS `configuracoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `configuracoes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `chave` varchar(100) NOT NULL,
  `valor` text DEFAULT NULL,
  `tipo` enum('STRING','INTEGER','BOOLEAN','JSON','FLOAT') DEFAULT 'STRING',
  `descricao` text DEFAULT NULL,
  `grupo` varchar(50) DEFAULT NULL COMMENT 'Grupo de configura├º├Áes',
  `editavel` tinyint(1) DEFAULT 1,
  `data_atualizacao` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `chave` (`chave`),
  KEY `idx_chave` (`chave`),
  KEY `idx_grupo` (`grupo`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Configura├º├Áes do sistema';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cron_logs`
--

DROP TABLE IF EXISTS `cron_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cron_logs` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `tarefa` enum('COLETAR_LICITACOES','GERAR_MATCHES','ANALISAR_COMERCIAL','NOTIFICAR_USUARIOS','LIMPAR_CACHE','BACKUP') NOT NULL,
  `descricao` varchar(255) DEFAULT NULL,
  `data_inicio` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `data_fim` timestamp NULL DEFAULT NULL,
  `duracao_segundos` int(11) DEFAULT NULL,
  `status` enum('INICIADO','SUCESSO','ERRO','PARCIAL') DEFAULT 'INICIADO',
  `mensagem` text DEFAULT NULL,
  `erro` text DEFAULT NULL,
  `registros_processados` int(11) DEFAULT 0,
  `registros_novos` int(11) DEFAULT 0,
  `registros_atualizados` int(11) DEFAULT 0,
  `registros_erro` int(11) DEFAULT 0,
  `parametros` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Par├ómetros da execu├º├úo' CHECK (json_valid(`parametros`)),
  `resultado` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Resultado detalhado' CHECK (json_valid(`resultado`)),
  PRIMARY KEY (`id`),
  KEY `idx_tarefa` (`tarefa`),
  KEY `idx_data` (`data_inicio`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Logs de execu├º├úo de tarefas automatizadas';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `documentos_empresa`
--

DROP TABLE IF EXISTS `documentos_empresa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `documentos_empresa` (
  `id` char(36) NOT NULL,
  `empresa_id` char(36) NOT NULL,
  `tipo` enum('ATESTADO','CERTIDAO','CONTRATO','PROJETO','CERTIFICADO','OUTROS') NOT NULL,
  `titulo` varchar(255) NOT NULL,
  `descricao` text DEFAULT NULL,
  `arquivo_nome` varchar(255) DEFAULT NULL,
  `arquivo_path` varchar(500) DEFAULT NULL,
  `arquivo_url` varchar(500) DEFAULT NULL,
  `arquivo_tamanho` bigint(20) DEFAULT NULL COMMENT 'Tamanho em bytes',
  `arquivo_mime_type` varchar(100) DEFAULT NULL,
  `data_emissao` date DEFAULT NULL,
  `data_validade` date DEFAULT NULL,
  `orgao_emissor` varchar(255) DEFAULT NULL,
  `numero_documento` varchar(100) DEFAULT NULL,
  `valor_documento` decimal(15,2) DEFAULT NULL COMMENT 'Valor do contrato/atestado',
  `escopo_tecnico` text DEFAULT NULL COMMENT 'Descri├º├úo do escopo t├®cnico',
  `palavras_chave` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Keywords extra├¡das do documento' CHECK (json_valid(`palavras_chave`)),
  `ativo` tinyint(1) DEFAULT 1,
  `data_upload` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_empresa` (`empresa_id`),
  KEY `idx_tipo` (`tipo`),
  KEY `idx_validade` (`data_validade`),
  CONSTRAINT `documentos_empresa_ibfk_1` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Documentos e atestados das empresas';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `empresa_documentos`
--

DROP TABLE IF EXISTS `empresa_documentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `empresa_documentos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `empresa_id` char(36) NOT NULL COMMENT 'UUID da empresa',
  `tipo` varchar(50) NOT NULL COMMENT 'Tipo do documento',
  `categoria` varchar(50) DEFAULT 'OUTROS' COMMENT 'Categoria: CERTIDAO, RECEITA, CONTRATO, HABILITACAO, OUTROS',
  `nome` varchar(255) NOT NULL COMMENT 'Nome/tÔö£┬ítulo do documento',
  `descricao` text DEFAULT NULL COMMENT 'DescriÔö£┬║Ôö£├║o ou observaÔö£┬║Ôö£├ües',
  `numero_documento` varchar(100) DEFAULT NULL COMMENT 'NÔö£Ôòæmero do documento/certidÔö£├║o',
  `arquivo` varchar(255) NOT NULL COMMENT 'Nome do arquivo no servidor',
  `arquivo_original` varchar(255) DEFAULT NULL COMMENT 'Nome original do arquivo',
  `tamanho_bytes` int(11) DEFAULT NULL COMMENT 'Tamanho do arquivo em bytes',
  `mime_type` varchar(100) DEFAULT NULL COMMENT 'Tipo MIME do arquivo',
  `data_emissao` date DEFAULT NULL COMMENT 'Data de emissÔö£├║o do documento',
  `data_validade` date DEFAULT NULL COMMENT 'Data de validade (para certidÔö£├ües)',
  `status` enum('ATIVO','VENCIDO','REVOGADO','ARQUIVADO') DEFAULT 'ATIVO',
  `alerta_vencimento` tinyint(1) DEFAULT 1 COMMENT 'Se deve alertar sobre vencimento',
  `dias_alerta` int(11) DEFAULT 30 COMMENT 'Dias antes do vencimento para alertar',
  `orgao_emissor` varchar(255) DEFAULT NULL COMMENT 'Ôö£├┤rgÔö£├║o que emitiu o documento',
  `observacoes` text DEFAULT NULL COMMENT 'ObservaÔö£┬║Ôö£├ües adicionais',
  `data_upload` datetime DEFAULT current_timestamp(),
  `data_atualizacao` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  `usuario_upload` varchar(100) DEFAULT NULL COMMENT 'UsuÔö£├¡rio que fez upload',
  PRIMARY KEY (`id`),
  KEY `idx_empresa` (`empresa_id`),
  KEY `idx_tipo` (`tipo`),
  KEY `idx_categoria` (`categoria`),
  KEY `idx_validade` (`data_validade`),
  KEY `idx_status` (`status`),
  CONSTRAINT `empresa_documentos_ibfk_1` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `empresa_monitoramento`
--

DROP TABLE IF EXISTS `empresa_monitoramento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `empresa_monitoramento` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `empresa_id` char(36) NOT NULL,
  `ufs_interesse` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'UFs de interesse para monitoramento' CHECK (json_valid(`ufs_interesse`)),
  `modalidades_interesse` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Modalidades de interesse' CHECK (json_valid(`modalidades_interesse`)),
  `valor_minimo` decimal(15,2) DEFAULT 0.00,
  `valor_maximo` decimal(15,2) DEFAULT NULL,
  `portes_aceitos` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Portes aceitos (ME/EPP exclusivo, etc)' CHECK (json_valid(`portes_aceitos`)),
  `alerta_email` tinyint(1) DEFAULT 1,
  `alerta_sistema` tinyint(1) DEFAULT 1,
  `frequencia_verificacao` enum('TEMPO_REAL','HORA','DIARIO') DEFAULT 'HORA',
  `score_minimo_alerta` int(11) DEFAULT 50 COMMENT 'Score mÔö£┬ínimo de match para gerar alerta (0-100)',
  `ativo` tinyint(1) DEFAULT 1,
  `data_criacao` timestamp NOT NULL DEFAULT current_timestamp(),
  `data_atualizacao` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_empresa_ativo` (`empresa_id`,`ativo`),
  CONSTRAINT `empresa_monitoramento_ibfk_1` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `empresas`
--

DROP TABLE IF EXISTS `empresas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `empresas` (
  `id` char(36) NOT NULL COMMENT 'UUID',
  `nome` varchar(255) NOT NULL,
  `razao_social` varchar(255) NOT NULL,
  `cnpj` varchar(18) NOT NULL,
  `inscricao_estadual` varchar(20) DEFAULT NULL,
  `inscricao_municipal` varchar(20) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `logo` varchar(255) DEFAULT NULL,
  `telefone` varchar(20) DEFAULT NULL,
  `site` varchar(255) DEFAULT NULL,
  `cep` varchar(10) DEFAULT NULL,
  `logradouro` varchar(255) DEFAULT NULL,
  `numero` varchar(20) DEFAULT NULL,
  `complemento` varchar(100) DEFAULT NULL,
  `bairro` varchar(100) DEFAULT NULL,
  `cidade` varchar(100) DEFAULT NULL,
  `uf` char(2) DEFAULT NULL,
  `porte` enum('MEI','ME','EPP','MEDIA','GRANDE') NOT NULL DEFAULT 'ME',
  `natureza_juridica` varchar(100) DEFAULT NULL,
  `cnae_principal` varchar(10) DEFAULT NULL,
  `cnae_secundarios` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Lista de CNAEs secund├írios' CHECK (json_valid(`cnae_secundarios`)),
  `faturamento_anual` decimal(15,2) DEFAULT NULL,
  `capital_social` decimal(15,2) DEFAULT NULL,
  `segmentos` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Array de segmentos de atua├º├úo' CHECK (json_valid(`segmentos`)),
  `certificacoes` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Array de certifica├º├Áes (ISO, etc)' CHECK (json_valid(`certificacoes`)),
  `keywords` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Palavras-chave para monitoramento de licitaÔö£┬║Ôö£├ües' CHECK (json_valid(`keywords`)),
  `keywords_geradas_ia` tinyint(1) DEFAULT 0 COMMENT 'Se as keywords foram geradas pela IA',
  `monitoramento_ativo` tinyint(1) DEFAULT 1 COMMENT 'Se o monitoramento estÔö£├¡ ativo para esta empresa',
  `ativo` tinyint(1) DEFAULT 1,
  `data_cadastro` timestamp NOT NULL DEFAULT current_timestamp(),
  `data_atualizacao` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `dados_completos` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Dados adicionais em JSON' CHECK (json_valid(`dados_completos`)),
  PRIMARY KEY (`id`),
  UNIQUE KEY `cnpj` (`cnpj`),
  KEY `idx_cnpj` (`cnpj`),
  KEY `idx_porte` (`porte`),
  KEY `idx_uf` (`uf`),
  KEY `idx_ativo` (`ativo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Empresas cadastradas no sistema';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `fontes_licitacao`
--

DROP TABLE IF EXISTS `fontes_licitacao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `fontes_licitacao` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(100) NOT NULL,
  `descricao` text DEFAULT NULL,
  `url_base` varchar(255) NOT NULL,
  `url_api` varchar(255) DEFAULT NULL,
  `tipo_portal` enum('PNCP','COMPRASNET','BEC','BLL','PREFEITURA','ESTADUAL','OUTROS') NOT NULL,
  `formato_dados` enum('API_REST','API_SOAP','WEB_SCRAPING','RSS','XML') DEFAULT 'API_REST',
  `requer_autenticacao` tinyint(1) DEFAULT 0,
  `tipo_autenticacao` varchar(50) DEFAULT NULL,
  `credenciais` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Credenciais criptografadas' CHECK (json_valid(`credenciais`)),
  `intervalo_atualizacao_horas` int(11) DEFAULT 24,
  `ultima_coleta` timestamp NULL DEFAULT NULL,
  `proxima_coleta` timestamp NULL DEFAULT NULL,
  `ativo` tinyint(1) DEFAULT 1,
  `status_conexao` enum('ONLINE','OFFLINE','ERRO','MANUTENCAO') DEFAULT 'ONLINE',
  `mensagem_erro` text DEFAULT NULL,
  `total_licitacoes_coletadas` int(11) DEFAULT 0,
  `ultima_quantidade_coletada` int(11) DEFAULT 0,
  `data_cadastro` timestamp NOT NULL DEFAULT current_timestamp(),
  `data_atualizacao` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_ativo` (`ativo`),
  KEY `idx_proxima_coleta` (`proxima_coleta`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Fontes de dados de licita├º├Áes';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `keywords_templates`
--

DROP TABLE IF EXISTS `keywords_templates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `keywords_templates` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `segmento` varchar(100) NOT NULL,
  `cnae` varchar(10) DEFAULT NULL,
  `keywords` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL COMMENT 'Array de keywords sugeridas' CHECK (json_valid(`keywords`)),
  `descricao` text DEFAULT NULL,
  `ativo` tinyint(1) DEFAULT 1,
  PRIMARY KEY (`id`),
  KEY `idx_segmento` (`segmento`),
  KEY `idx_cnae` (`cnae`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `licitacao_arquivos`
--

DROP TABLE IF EXISTS `licitacao_arquivos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `licitacao_arquivos` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `licitacao_id` char(36) NOT NULL,
  `sequencial_documento` int(11) DEFAULT NULL,
  `titulo` varchar(255) NOT NULL,
  `tipo_documento` varchar(100) NOT NULL,
  `tipo_documento_id` int(11) DEFAULT NULL,
  `tipo_documento_descricao` varchar(255) DEFAULT NULL,
  `uri_original` varchar(500) DEFAULT NULL COMMENT 'URI no portal original',
  `url_download` varchar(500) DEFAULT NULL COMMENT 'URL para download',
  `arquivo_local_path` varchar(500) DEFAULT NULL COMMENT 'Caminho local se baixado',
  `arquivo_tamanho` bigint(20) DEFAULT NULL COMMENT 'Tamanho em bytes',
  `arquivo_hash` varchar(64) DEFAULT NULL COMMENT 'Hash SHA256 do arquivo',
  `arquivo_origem_id` bigint(20) DEFAULT NULL,
  `status_ativo` tinyint(1) DEFAULT 1,
  `arquivo_baixado` tinyint(1) DEFAULT 0,
  `data_download` timestamp NULL DEFAULT NULL,
  `data_publicacao` timestamp NULL DEFAULT NULL,
  `ano_compra` int(11) DEFAULT NULL,
  `cnpj_orgao` varchar(18) DEFAULT NULL,
  `sequencial_compra` int(11) DEFAULT NULL,
  `texto_extraido` longtext DEFAULT NULL COMMENT 'Texto extra├¡do do PDF/DOC',
  `conteudo_analisado` tinyint(1) DEFAULT 0,
  `palavras_chave` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`palavras_chave`)),
  `dados_completos_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`dados_completos_json`)),
  `data_insercao` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_licitacao` (`licitacao_id`),
  KEY `idx_tipo` (`tipo_documento`),
  KEY `idx_baixado` (`arquivo_baixado`),
  KEY `idx_data_publicacao` (`data_publicacao`),
  KEY `idx_origem` (`arquivo_origem_id`),
  FULLTEXT KEY `ft_titulo` (`titulo`),
  FULLTEXT KEY `ft_texto_extraido` (`texto_extraido`),
  CONSTRAINT `licitacao_arquivos_ibfk_1` FOREIGN KEY (`licitacao_id`) REFERENCES `licitacoes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=22467 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Arquivos e documentos das licita├º├Áes';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `licitacao_historico`
--

DROP TABLE IF EXISTS `licitacao_historico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `licitacao_historico` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `licitacao_id` char(36) NOT NULL,
  `tipo_log` int(11) DEFAULT NULL COMMENT 'Tipo de log de manuten├º├úo',
  `tipo_log_nome` varchar(100) DEFAULT NULL,
  `categoria_log` int(11) DEFAULT NULL,
  `categoria_log_nome` varchar(100) DEFAULT NULL,
  `descricao` text DEFAULT NULL,
  `justificativa` text DEFAULT NULL,
  `usuario_nome` varchar(255) DEFAULT NULL COMMENT 'Usu├írio que fez a altera├º├úo',
  `usuario_cpf` varchar(14) DEFAULT NULL,
  `item_numero` int(11) DEFAULT NULL COMMENT 'N├║mero do item afetado',
  `item_resultado_numero` int(11) DEFAULT NULL,
  `documento_tipo` varchar(100) DEFAULT NULL,
  `documento_titulo` varchar(255) DEFAULT NULL,
  `documento_sequencial` int(11) DEFAULT NULL,
  `compra_sequencial` int(11) DEFAULT NULL,
  `compra_orgao_cnpj` varchar(18) DEFAULT NULL,
  `compra_ano` int(11) DEFAULT NULL,
  `dados_completos_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`dados_completos_json`)),
  `data_inclusao` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_licitacao` (`licitacao_id`),
  KEY `idx_tipo_log` (`tipo_log`),
  KEY `idx_categoria_log` (`categoria_log`),
  KEY `idx_data` (`data_inclusao`),
  CONSTRAINT `licitacao_historico_ibfk_1` FOREIGN KEY (`licitacao_id`) REFERENCES `licitacoes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Hist├│rico de altera├º├Áes das licita├º├Áes';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `licitacao_itens`
--

DROP TABLE IF EXISTS `licitacao_itens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `licitacao_itens` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `licitacao_id` char(36) NOT NULL,
  `numero_item` int(11) NOT NULL,
  `descricao` text NOT NULL,
  `tipo` enum('MATERIAL','SERVICO','OBRA') DEFAULT 'MATERIAL',
  `material_ou_servico` char(1) DEFAULT NULL COMMENT 'M ou S',
  `quantidade` decimal(15,4) DEFAULT NULL,
  `unidade_medida` varchar(20) DEFAULT NULL,
  `valor_unitario_estimado` decimal(15,2) DEFAULT NULL,
  `valor_total_estimado` decimal(15,2) DEFAULT NULL,
  `valor_unitario_homologado` decimal(15,2) DEFAULT NULL,
  `valor_total_homologado` decimal(15,2) DEFAULT NULL,
  `item_categoria` varchar(100) DEFAULT NULL,
  `item_categoria_id` int(11) DEFAULT NULL,
  `ncm_nbs_codigo` varchar(20) DEFAULT NULL COMMENT 'C├│digo NCM/NBS',
  `ncm_nbs_descricao` varchar(255) DEFAULT NULL,
  `criterio_julgamento` varchar(100) DEFAULT NULL,
  `criterio_julgamento_id` int(11) DEFAULT NULL,
  `situacao` varchar(100) DEFAULT NULL,
  `situacao_id` int(11) DEFAULT NULL,
  `tem_resultado` tinyint(1) DEFAULT 0,
  `tipo_beneficio` varchar(100) DEFAULT NULL,
  `tipo_beneficio_id` int(11) DEFAULT NULL,
  `incentivo_produtivo_basico` tinyint(1) DEFAULT 0,
  `aplicabilidade_margem_normal` tinyint(1) DEFAULT 0,
  `aplicabilidade_margem_adicional` tinyint(1) DEFAULT 0,
  `percentual_margem_normal` decimal(5,2) DEFAULT NULL,
  `percentual_margem_adicional` decimal(5,2) DEFAULT NULL,
  `informacao_complementar` text DEFAULT NULL,
  `especificacao_tecnica` text DEFAULT NULL,
  `marca_referencia` varchar(255) DEFAULT NULL,
  `codigo_catalogo` varchar(100) DEFAULT NULL,
  `categoria_catalogo` varchar(100) DEFAULT NULL,
  `palavras_chave_extraidas` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`palavras_chave_extraidas`)),
  `categoria_produto_ia` varchar(100) DEFAULT NULL COMMENT 'Categoria identificada por IA',
  `compativel_empresa` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'IDs de empresas compat├¡veis' CHECK (json_valid(`compativel_empresa`)),
  `dados_completos_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`dados_completos_json`)),
  `data_inclusao` timestamp NULL DEFAULT NULL,
  `data_atualizacao` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_licitacao` (`licitacao_id`),
  KEY `idx_tipo` (`tipo`),
  KEY `idx_valor_total` (`valor_total_estimado`),
  KEY `idx_ncm` (`ncm_nbs_codigo`),
  KEY `idx_categoria` (`item_categoria`),
  FULLTEXT KEY `ft_descricao` (`descricao`),
  CONSTRAINT `licitacao_itens_ibfk_1` FOREIGN KEY (`licitacao_id`) REFERENCES `licitacoes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=174344 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Itens das licita├º├Áes';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `licitacoes`
--

DROP TABLE IF EXISTS `licitacoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `licitacoes` (
  `id` char(36) NOT NULL COMMENT 'ID ├║nico da licita├º├úo',
  `fonte_id` int(11) NOT NULL COMMENT 'Fonte de onde veio',
  `id_externo` varchar(100) NOT NULL COMMENT 'ID no portal de origem',
  `numero_controle_pncp` varchar(100) DEFAULT NULL,
  `numero_edital` varchar(100) DEFAULT NULL,
  `numero_processo` varchar(100) DEFAULT NULL,
  `titulo` varchar(500) NOT NULL,
  `descricao` text DEFAULT NULL,
  `objeto` text DEFAULT NULL COMMENT 'Descri├º├úo do objeto',
  `orgao_cnpj` varchar(18) DEFAULT NULL,
  `orgao_nome` varchar(255) NOT NULL,
  `orgao_esfera` enum('MUNICIPAL','ESTADUAL','FEDERAL','NAO_SE_APLICA') DEFAULT NULL,
  `orgao_poder` enum('EXECUTIVO','LEGISLATIVO','JUDICIARIO','NAO_SE_APLICA') DEFAULT NULL,
  `unidade_compradora` varchar(255) DEFAULT NULL,
  `uf` char(2) DEFAULT NULL,
  `municipio` varchar(100) DEFAULT NULL,
  `regiao` enum('NORTE','NORDESTE','CENTRO_OESTE','SUDESTE','SUL') DEFAULT NULL,
  `modalidade` varchar(100) NOT NULL,
  `modalidade_codigo` int(11) DEFAULT NULL,
  `tipo_licitacao` varchar(50) DEFAULT NULL,
  `situacao` varchar(100) NOT NULL,
  `situacao_codigo` int(11) DEFAULT NULL,
  `status` enum('ABERTA','EM_ANDAMENTO','ENCERRADA','CANCELADA','SUSPENSA','DESERTA','FRACASSADA') DEFAULT 'ABERTA',
  `data_publicacao` timestamp NULL DEFAULT NULL,
  `data_abertura_proposta` timestamp NULL DEFAULT NULL,
  `data_encerramento_proposta` timestamp NULL DEFAULT NULL,
  `data_sessao_publica` timestamp NULL DEFAULT NULL,
  `data_inicio_vigencia` date DEFAULT NULL,
  `data_fim_vigencia` date DEFAULT NULL,
  `valor_estimado` decimal(15,2) DEFAULT NULL,
  `valor_homologado` decimal(15,2) DEFAULT NULL,
  `orcamento_sigiloso` tinyint(1) DEFAULT 0,
  `moeda` char(3) DEFAULT 'BRL',
  `criterio_julgamento` varchar(100) DEFAULT NULL COMMENT 'Menor pre├ºo, t├®cnica e pre├ºo, etc',
  `modo_disputa` varchar(50) DEFAULT NULL COMMENT 'Aberto, fechado, etc',
  `tipo_contratacao` varchar(50) DEFAULT NULL COMMENT 'Material, servi├ºo, obra',
  `reserva_cota_me_epp` tinyint(1) DEFAULT 0,
  `exclusiva_me_epp` tinyint(1) DEFAULT 0,
  `ampla_participacao` tinyint(1) DEFAULT 0,
  `link_edital` varchar(500) DEFAULT NULL,
  `link_portal` varchar(500) DEFAULT NULL,
  `tem_edital` tinyint(1) DEFAULT 0,
  `tem_anexos` tinyint(1) DEFAULT 0,
  `processado_ia` tinyint(1) DEFAULT 0 COMMENT 'Se j├í foi processado pela IA',
  `tem_matches` tinyint(1) DEFAULT 0 COMMENT 'Se tem matches gerados',
  `prioridade` tinyint(4) DEFAULT 0 COMMENT '0-10, maior = mais priorit├írio',
  `complexidade_estimada` enum('BAIXA','MEDIA','ALTA','MUITO_ALTA') DEFAULT NULL,
  `palavras_chave` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Keywords extra├¡das' CHECK (json_valid(`palavras_chave`)),
  `categorias_identificadas` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Categorias identificadas por IA' CHECK (json_valid(`categorias_identificadas`)),
  `dados_completos_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'JSON completo do portal' CHECK (json_valid(`dados_completos_json`)),
  `ativo` tinyint(1) DEFAULT 1,
  `cancelada` tinyint(1) DEFAULT 0,
  `data_insercao` timestamp NOT NULL DEFAULT current_timestamp(),
  `data_atualizacao` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_fonte_externo` (`fonte_id`,`id_externo`),
  KEY `idx_orgao_cnpj` (`orgao_cnpj`),
  KEY `idx_uf` (`uf`),
  KEY `idx_municipio` (`municipio`),
  KEY `idx_modalidade` (`modalidade`),
  KEY `idx_situacao` (`situacao`),
  KEY `idx_status` (`status`),
  KEY `idx_data_abertura` (`data_abertura_proposta`),
  KEY `idx_data_encerramento` (`data_encerramento_proposta`),
  KEY `idx_valor` (`valor_estimado`),
  KEY `idx_processado` (`processado_ia`),
  KEY `idx_prioridade` (`prioridade`),
  KEY `idx_ativo` (`ativo`),
  FULLTEXT KEY `ft_titulo_descricao` (`titulo`,`descricao`,`objeto`),
  CONSTRAINT `licitacoes_ibfk_1` FOREIGN KEY (`fonte_id`) REFERENCES `fontes_licitacao` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Licita├º├Áes coletadas de todas as fontes';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `matches`
--

DROP TABLE IF EXISTS `matches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `matches` (
  `id` char(36) NOT NULL,
  `licitacao_id` char(36) NOT NULL,
  `empresa_id` char(36) NOT NULL,
  `score_total` decimal(5,2) NOT NULL COMMENT 'Score total de 0 a 100',
  `score_compatibilidade` decimal(5,2) DEFAULT NULL COMMENT 'Compatibilidade t├®cnica',
  `score_experiencia` decimal(5,2) DEFAULT NULL COMMENT 'Experi├¬ncia pr├®via',
  `score_localizacao` decimal(5,2) DEFAULT NULL COMMENT 'Proximidade geogr├ífica',
  `score_valor` decimal(5,2) DEFAULT NULL COMMENT 'Compatibilidade de valor',
  `score_documentacao` decimal(5,2) DEFAULT NULL COMMENT 'Documenta├º├úo adequada',
  `chance_vitoria` decimal(5,2) DEFAULT NULL COMMENT 'Chance estimada de vit├│ria (%)',
  `nivel_concorrencia` enum('BAIXA','MEDIA','ALTA','MUITO_ALTA') DEFAULT NULL,
  `complexidade` enum('BAIXA','MEDIA','ALTA','MUITO_ALTA') DEFAULT NULL,
  `status` enum('NOVO','ANALISADO','INTERESSADO','NAO_INTERESSADO','PROPOSTA_ENVIADA','VENCEU','PERDEU') DEFAULT 'NOVO',
  `recomendacao_ia` text DEFAULT NULL COMMENT 'Recomenda├º├úo textual da IA',
  `pontos_fortes` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Pontos fortes da empresa para esta licita├º├úo' CHECK (json_valid(`pontos_fortes`)),
  `pontos_fracos` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Pontos fracos ou desafios' CHECK (json_valid(`pontos_fracos`)),
  `requisitos_faltantes` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Requisitos que faltam' CHECK (json_valid(`requisitos_faltantes`)),
  `acoes_sugeridas` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'A├º├Áes sugeridas pela IA' CHECK (json_valid(`acoes_sugeridas`)),
  `prazo_decisao` date DEFAULT NULL COMMENT 'Prazo para decidir participa├º├úo',
  `modelo_ia` varchar(100) DEFAULT NULL COMMENT 'Modelo de IA utilizado',
  `versao_algoritmo` varchar(20) DEFAULT NULL,
  `confianca_ia` decimal(3,2) DEFAULT NULL COMMENT 'N├¡vel de confian├ºa (0-1)',
  `feedback_usuario` enum('MUITO_BOM','BOM','REGULAR','RUIM','MUITO_RUIM') DEFAULT NULL,
  `comentario_usuario` text DEFAULT NULL,
  `resultado_real` enum('VENCEU','PERDEU','NAO_PARTICIPOU','DESCLASSIFICADO') DEFAULT NULL,
  `data_criacao` timestamp NOT NULL DEFAULT current_timestamp(),
  `data_atualizacao` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `visualizado` tinyint(1) DEFAULT 0,
  `data_visualizacao` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_match` (`licitacao_id`,`empresa_id`),
  KEY `idx_licitacao` (`licitacao_id`),
  KEY `idx_empresa` (`empresa_id`),
  KEY `idx_score` (`score_total`),
  KEY `idx_status` (`status`),
  KEY `idx_chance_vitoria` (`chance_vitoria`),
  KEY `idx_visualizado` (`visualizado`),
  CONSTRAINT `matches_ibfk_1` FOREIGN KEY (`licitacao_id`) REFERENCES `licitacoes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `matches_ibfk_2` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Matches entre licita├º├Áes e empresas';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `monitoramento_execucoes`
--

DROP TABLE IF EXISTS `monitoramento_execucoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `monitoramento_execucoes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `empresa_id` char(36) DEFAULT NULL COMMENT 'NULL = execuÔö£┬║Ôö£├║o geral para todas empresas',
  `tipo_execucao` enum('AUTOMATICO','MANUAL','AGENDADO') DEFAULT 'AUTOMATICO',
  `status` enum('INICIADO','PROCESSANDO','CONCLUIDO','ERRO') DEFAULT 'INICIADO',
  `licitacoes_analisadas` int(11) DEFAULT 0,
  `alertas_gerados` int(11) DEFAULT 0,
  `alertas_atualizados` int(11) DEFAULT 0,
  `tempo_execucao_segundos` int(11) DEFAULT 0,
  `erro_mensagem` text DEFAULT NULL,
  `data_inicio` timestamp NOT NULL DEFAULT current_timestamp(),
  `data_fim` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_empresa` (`empresa_id`),
  KEY `idx_data` (`data_inicio`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `notificacoes`
--

DROP TABLE IF EXISTS `notificacoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notificacoes` (
  `id` char(36) NOT NULL,
  `usuario_id` char(36) DEFAULT NULL,
  `empresa_id` char(36) DEFAULT NULL,
  `tipo` enum('NOVO_MATCH','PRAZO_ENCERRANDO','LICITACAO_ATUALIZADA','PROPOSTA_ENVIADA','RESULTADO_PUBLICADO','SISTEMA') NOT NULL,
  `prioridade` enum('BAIXA','MEDIA','ALTA','URGENTE') DEFAULT 'MEDIA',
  `titulo` varchar(255) NOT NULL,
  `mensagem` text NOT NULL,
  `link` varchar(500) DEFAULT NULL,
  `licitacao_id` char(36) DEFAULT NULL,
  `match_id` char(36) DEFAULT NULL,
  `proposta_id` char(36) DEFAULT NULL,
  `lida` tinyint(1) DEFAULT 0,
  `data_leitura` timestamp NULL DEFAULT NULL,
  `enviada_email` tinyint(1) DEFAULT 0,
  `enviada_push` tinyint(1) DEFAULT 0,
  `data_criacao` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `licitacao_id` (`licitacao_id`),
  KEY `match_id` (`match_id`),
  KEY `proposta_id` (`proposta_id`),
  KEY `idx_usuario` (`usuario_id`),
  KEY `idx_empresa` (`empresa_id`),
  KEY `idx_tipo` (`tipo`),
  KEY `idx_lida` (`lida`),
  KEY `idx_data` (`data_criacao`),
  CONSTRAINT `notificacoes_ibfk_1` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE,
  CONSTRAINT `notificacoes_ibfk_2` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `notificacoes_ibfk_3` FOREIGN KEY (`licitacao_id`) REFERENCES `licitacoes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `notificacoes_ibfk_4` FOREIGN KEY (`match_id`) REFERENCES `matches` (`id`) ON DELETE CASCADE,
  CONSTRAINT `notificacoes_ibfk_5` FOREIGN KEY (`proposta_id`) REFERENCES `propostas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Notifica├º├Áes do sistema';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `perfis_empresa`
--

DROP TABLE IF EXISTS `perfis_empresa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `perfis_empresa` (
  `id` char(36) NOT NULL,
  `empresa_id` char(36) NOT NULL,
  `explicacao` text DEFAULT NULL COMMENT 'Explica├º├úo sobre a empresa',
  `introducao` text DEFAULT NULL COMMENT 'Introdu├º├úo comercial',
  `curriculo_completo` longtext DEFAULT NULL COMMENT 'Curr├¡culo completo da empresa',
  `capacidades_tecnicas` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Lista de capacidades t├®cnicas' CHECK (json_valid(`capacidades_tecnicas`)),
  `areas_especialidade` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT '├üreas de especialidade' CHECK (json_valid(`areas_especialidade`)),
  `anos_experiencia` int(11) DEFAULT NULL,
  `numero_projetos_realizados` int(11) DEFAULT 0,
  `valor_total_contratos` decimal(15,2) DEFAULT 0.00,
  `qualificacoes` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Qualifica├º├Áes e certifica├º├Áes detalhadas' CHECK (json_valid(`qualificacoes`)),
  `versao_perfil` int(11) DEFAULT 1,
  `gerado_por_ia` tinyint(1) DEFAULT 1,
  `modelo_ia_utilizado` varchar(100) DEFAULT NULL COMMENT 'Ex: GPT-4, Claude, etc',
  `confianca_ia` decimal(3,2) DEFAULT NULL COMMENT 'N├¡vel de confian├ºa do perfil (0-1)',
  `data_criacao` timestamp NOT NULL DEFAULT current_timestamp(),
  `data_atualizacao` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_empresa` (`empresa_id`),
  CONSTRAINT `perfis_empresa_ibfk_1` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Perfis comerciais das empresas';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `projetos_empresa`
--

DROP TABLE IF EXISTS `projetos_empresa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `projetos_empresa` (
  `id` char(36) NOT NULL,
  `empresa_id` char(36) NOT NULL,
  `titulo` varchar(255) NOT NULL,
  `descricao` text DEFAULT NULL,
  `cliente` varchar(255) DEFAULT NULL,
  `cliente_cnpj` varchar(18) DEFAULT NULL,
  `valor_total` decimal(15,2) DEFAULT NULL,
  `moeda` char(3) DEFAULT 'BRL',
  `data_inicio` date DEFAULT NULL,
  `data_conclusao` date DEFAULT NULL,
  `duracao_meses` int(11) DEFAULT NULL,
  `cidade` varchar(100) DEFAULT NULL,
  `uf` char(2) DEFAULT NULL,
  `categoria` varchar(100) DEFAULT NULL COMMENT 'Categoria do projeto',
  `tags` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Tags para busca' CHECK (json_valid(`tags`)),
  `tem_atestado` tinyint(1) DEFAULT 0,
  `documento_id` char(36) DEFAULT NULL COMMENT 'Refer├¬ncia ao atestado',
  `resultados_obtidos` text DEFAULT NULL,
  `destaque` tinyint(1) DEFAULT 0 COMMENT 'Projeto destaque no portf├│lio',
  `data_cadastro` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_empresa` (`empresa_id`),
  KEY `idx_categoria` (`categoria`),
  KEY `idx_uf` (`uf`),
  CONSTRAINT `projetos_empresa_ibfk_1` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Projetos executados pelas empresas';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `proposta_itens`
--

DROP TABLE IF EXISTS `proposta_itens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `proposta_itens` (
  `id` char(36) NOT NULL,
  `proposta_id` char(36) NOT NULL,
  `licitacao_item_id` bigint(20) NOT NULL,
  `numero_item` int(11) NOT NULL,
  `descricao` text DEFAULT NULL,
  `quantidade` decimal(15,4) DEFAULT NULL,
  `unidade_medida` varchar(20) DEFAULT NULL,
  `valor_unitario` decimal(15,2) NOT NULL,
  `valor_total` decimal(15,2) NOT NULL,
  `marca_ofertada` varchar(255) DEFAULT NULL,
  `modelo_ofertado` varchar(255) DEFAULT NULL,
  `fabricante` varchar(255) DEFAULT NULL,
  `especificacao_tecnica` text DEFAULT NULL,
  `observacoes` text DEFAULT NULL,
  `prazo_entrega_dias` int(11) DEFAULT NULL,
  `prazo_garantia_meses` int(11) DEFAULT NULL,
  `data_insercao` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_proposta` (`proposta_id`),
  KEY `idx_licitacao_item` (`licitacao_item_id`),
  CONSTRAINT `proposta_itens_ibfk_1` FOREIGN KEY (`proposta_id`) REFERENCES `propostas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `proposta_itens_ibfk_2` FOREIGN KEY (`licitacao_item_id`) REFERENCES `licitacao_itens` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Itens das propostas';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `propostas`
--

DROP TABLE IF EXISTS `propostas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `propostas` (
  `id` char(36) NOT NULL,
  `empresa_id` char(36) NOT NULL,
  `licitacao_id` char(36) NOT NULL,
  `match_id` char(36) DEFAULT NULL,
  `titulo` varchar(500) DEFAULT NULL,
  `numero_proposta` varchar(50) DEFAULT NULL COMMENT 'N├║mero interno da proposta',
  `versao` int(11) DEFAULT 1,
  `valor_total` decimal(15,2) NOT NULL,
  `desconto_percentual` decimal(5,2) DEFAULT NULL,
  `valor_desconto` decimal(15,2) DEFAULT NULL,
  `valor_final` decimal(15,2) DEFAULT NULL,
  `prazo_entrega` varchar(200) DEFAULT NULL,
  `condicoes_pagamento` text DEFAULT NULL,
  `validade_proposta` varchar(100) DEFAULT NULL,
  `status` enum('RASCUNHO','EM_ELABORACAO','AGUARDANDO_APROVACAO','APROVADA','ENVIADA','CLASSIFICADA','DESCLASSIFICADA','VENCEDORA','PERDEDORA','CANCELADA') DEFAULT 'RASCUNHO',
  `conteudo_html` longtext DEFAULT NULL,
  `gerado_por_ia` tinyint(1) DEFAULT 0,
  `prompt_ia` text DEFAULT NULL,
  `data_geracao_ia` timestamp NULL DEFAULT NULL,
  `motivo_desclassificacao` text DEFAULT NULL,
  `proposta_tecnica_path` varchar(500) DEFAULT NULL,
  `proposta_preco_path` varchar(500) DEFAULT NULL,
  `documentos_habilitacao_path` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`documentos_habilitacao_path`)),
  `data_envio` timestamp NULL DEFAULT NULL,
  `protocolo_envio` varchar(100) DEFAULT NULL,
  `meio_envio` enum('PORTAL','EMAIL','PRESENCIAL','CORREIOS') DEFAULT 'PORTAL',
  `classificacao` int(11) DEFAULT NULL COMMENT 'Posi├º├úo na classifica├º├úo',
  `valor_vencedor` decimal(15,2) DEFAULT NULL COMMENT 'Valor da proposta vencedora',
  `venceu` tinyint(1) DEFAULT 0,
  `observacoes_internas` text DEFAULT NULL,
  `observacoes_cliente` text DEFAULT NULL,
  `criado_por_usuario_id` char(36) DEFAULT NULL,
  `data_criacao` timestamp NOT NULL DEFAULT current_timestamp(),
  `data_atualizacao` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `match_id` (`match_id`),
  KEY `idx_empresa` (`empresa_id`),
  KEY `idx_licitacao` (`licitacao_id`),
  KEY `idx_status` (`status`),
  KEY `idx_venceu` (`venceu`),
  CONSTRAINT `propostas_ibfk_1` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `propostas_ibfk_2` FOREIGN KEY (`licitacao_id`) REFERENCES `licitacoes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `propostas_ibfk_3` FOREIGN KEY (`match_id`) REFERENCES `matches` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Propostas criadas para licita├º├Áes';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuarios` (
  `id` char(36) NOT NULL,
  `empresa_id` char(36) DEFAULT NULL,
  `nome` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `senha_hash` varchar(255) NOT NULL,
  `cpf` varchar(14) DEFAULT NULL,
  `telefone` varchar(20) DEFAULT NULL,
  `tipo` enum('ADMIN','GERENTE','USUARIO','VISUALIZADOR') DEFAULT 'USUARIO',
  `cargo` varchar(100) DEFAULT NULL,
  `permissoes` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Permiss├Áes espec├¡ficas do usu├írio' CHECK (json_valid(`permissoes`)),
  `ativo` tinyint(1) DEFAULT 1,
  `email_verificado` tinyint(1) DEFAULT 0,
  `data_ultimo_acesso` timestamp NULL DEFAULT NULL,
  `data_cadastro` timestamp NOT NULL DEFAULT current_timestamp(),
  `data_atualizacao` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_email` (`email`),
  KEY `idx_empresa` (`empresa_id`),
  KEY `idx_ativo` (`ativo`),
  CONSTRAINT `usuarios_ibfk_1` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Usu├írios do sistema';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Temporary table structure for view `v_estatisticas_empresa`
--

DROP TABLE IF EXISTS `v_estatisticas_empresa`;
/*!50001 DROP VIEW IF EXISTS `v_estatisticas_empresa`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_estatisticas_empresa` AS SELECT
 1 AS `empresa_id`,
  1 AS `nome`,
  1 AS `total_matches`,
  1 AS `matches_novos`,
  1 AS `total_propostas`,
  1 AS `propostas_vencidas`,
  1 AS `valor_total_vencido`,
  1 AS `score_medio`,
  1 AS `chance_media_vitoria` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_licitacoes_abertas`
--

DROP TABLE IF EXISTS `v_licitacoes_abertas`;
/*!50001 DROP VIEW IF EXISTS `v_licitacoes_abertas`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_licitacoes_abertas` AS SELECT
 1 AS `id`,
  1 AS `titulo`,
  1 AS `numero_edital`,
  1 AS `orgao_nome`,
  1 AS `uf`,
  1 AS `municipio`,
  1 AS `modalidade`,
  1 AS `valor_estimado`,
  1 AS `data_abertura_proposta`,
  1 AS `data_encerramento_proposta`,
  1 AS `dias_restantes`,
  1 AS `total_itens`,
  1 AS `total_matches`,
  1 AS `processado_ia`,
  1 AS `tem_matches` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_matches_pendentes`
--

DROP TABLE IF EXISTS `v_matches_pendentes`;
/*!50001 DROP VIEW IF EXISTS `v_matches_pendentes`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_matches_pendentes` AS SELECT
 1 AS `match_id`,
  1 AS `empresa_id`,
  1 AS `empresa_nome`,
  1 AS `licitacao_id`,
  1 AS `licitacao_titulo`,
  1 AS `numero_edital`,
  1 AS `orgao_nome`,
  1 AS `uf`,
  1 AS `score_total`,
  1 AS `chance_vitoria`,
  1 AS `status`,
  1 AS `data_encerramento_proposta`,
  1 AS `dias_restantes`,
  1 AS `visualizado`,
  1 AS `data_criacao` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `vw_alertas_dashboard`
--

DROP TABLE IF EXISTS `vw_alertas_dashboard`;
/*!50001 DROP VIEW IF EXISTS `vw_alertas_dashboard`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vw_alertas_dashboard` AS SELECT
 1 AS `id`,
  1 AS `empresa_id`,
  1 AS `empresa_nome`,
  1 AS `licitacao_id`,
  1 AS `licitacao_titulo`,
  1 AS `numero_edital`,
  1 AS `orgao_nome`,
  1 AS `uf`,
  1 AS `municipio`,
  1 AS `modalidade`,
  1 AS `valor_estimado`,
  1 AS `data_abertura`,
  1 AS `situacao`,
  1 AS `score_total`,
  1 AS `score_keywords`,
  1 AS `keywords_match`,
  1 AS `recomendacao`,
  1 AS `status`,
  1 AS `prioridade`,
  1 AS `visualizado`,
  1 AS `data_criacao`,
  1 AS `dias_para_abertura` */;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `v_estatisticas_empresa`
--

/*!50001 DROP VIEW IF EXISTS `v_estatisticas_empresa`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_estatisticas_empresa` AS select `e`.`id` AS `empresa_id`,`e`.`nome` AS `nome`,count(distinct `m`.`id`) AS `total_matches`,count(distinct case when `m`.`status` = 'NOVO' then `m`.`id` end) AS `matches_novos`,count(distinct `p`.`id`) AS `total_propostas`,count(distinct case when `p`.`venceu` = 1 then `p`.`id` end) AS `propostas_vencidas`,sum(case when `p`.`venceu` = 1 then `p`.`valor_total` else 0 end) AS `valor_total_vencido`,avg(case when `m`.`score_total` > 0 then `m`.`score_total` end) AS `score_medio`,avg(case when `m`.`chance_vitoria` > 0 then `m`.`chance_vitoria` end) AS `chance_media_vitoria` from ((`empresas` `e` left join `matches` `m` on(`e`.`id` = `m`.`empresa_id`)) left join `propostas` `p` on(`e`.`id` = `p`.`empresa_id`)) where `e`.`ativo` = 1 group by `e`.`id`,`e`.`nome` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_licitacoes_abertas`
--

/*!50001 DROP VIEW IF EXISTS `v_licitacoes_abertas`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_licitacoes_abertas` AS select `l`.`id` AS `id`,`l`.`titulo` AS `titulo`,`l`.`numero_edital` AS `numero_edital`,`l`.`orgao_nome` AS `orgao_nome`,`l`.`uf` AS `uf`,`l`.`municipio` AS `municipio`,`l`.`modalidade` AS `modalidade`,`l`.`valor_estimado` AS `valor_estimado`,`l`.`data_abertura_proposta` AS `data_abertura_proposta`,`l`.`data_encerramento_proposta` AS `data_encerramento_proposta`,to_days(`l`.`data_encerramento_proposta`) - to_days(current_timestamp()) AS `dias_restantes`,count(distinct `li`.`id`) AS `total_itens`,count(distinct `m`.`id`) AS `total_matches`,`l`.`processado_ia` AS `processado_ia`,`l`.`tem_matches` AS `tem_matches` from ((`licitacoes` `l` left join `licitacao_itens` `li` on(`l`.`id` = `li`.`licitacao_id`)) left join `matches` `m` on(`l`.`id` = `m`.`licitacao_id`)) where `l`.`status` in ('ABERTA','EM_ANDAMENTO') and `l`.`ativo` = 1 and `l`.`data_encerramento_proposta` > current_timestamp() group by `l`.`id`,`l`.`titulo`,`l`.`numero_edital`,`l`.`orgao_nome`,`l`.`uf`,`l`.`municipio`,`l`.`modalidade`,`l`.`valor_estimado`,`l`.`data_abertura_proposta`,`l`.`data_encerramento_proposta`,`l`.`processado_ia`,`l`.`tem_matches` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_matches_pendentes`
--

/*!50001 DROP VIEW IF EXISTS `v_matches_pendentes`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_matches_pendentes` AS select `m`.`id` AS `match_id`,`m`.`empresa_id` AS `empresa_id`,`e`.`nome` AS `empresa_nome`,`m`.`licitacao_id` AS `licitacao_id`,`l`.`titulo` AS `licitacao_titulo`,`l`.`numero_edital` AS `numero_edital`,`l`.`orgao_nome` AS `orgao_nome`,`l`.`uf` AS `uf`,`m`.`score_total` AS `score_total`,`m`.`chance_vitoria` AS `chance_vitoria`,`m`.`status` AS `status`,`l`.`data_encerramento_proposta` AS `data_encerramento_proposta`,to_days(`l`.`data_encerramento_proposta`) - to_days(current_timestamp()) AS `dias_restantes`,`m`.`visualizado` AS `visualizado`,`m`.`data_criacao` AS `data_criacao` from ((`matches` `m` join `empresas` `e` on(`m`.`empresa_id` = `e`.`id`)) join `licitacoes` `l` on(`m`.`licitacao_id` = `l`.`id`)) where `m`.`status` in ('NOVO','ANALISADO') and `l`.`status` in ('ABERTA','EM_ANDAMENTO') and `l`.`data_encerramento_proposta` > current_timestamp() order by `m`.`score_total` desc,`l`.`data_encerramento_proposta` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_alertas_dashboard`
--

/*!50001 DROP VIEW IF EXISTS `vw_alertas_dashboard`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_alertas_dashboard` AS select `a`.`id` AS `id`,`a`.`empresa_id` AS `empresa_id`,`e`.`nome` AS `empresa_nome`,`a`.`licitacao_id` AS `licitacao_id`,`l`.`titulo` AS `licitacao_titulo`,`l`.`numero_edital` AS `numero_edital`,`l`.`orgao_nome` AS `orgao_nome`,`l`.`uf` AS `uf`,`l`.`municipio` AS `municipio`,`l`.`modalidade` AS `modalidade`,coalesce(`l`.`valor_estimado`,(select sum(`licitacao_itens`.`valor_total_estimado`) from `licitacao_itens` where `licitacao_itens`.`licitacao_id` = `l`.`id`)) AS `valor_estimado`,`l`.`data_abertura_proposta` AS `data_abertura`,`l`.`situacao` AS `situacao`,`a`.`score_total` AS `score_total`,`a`.`score_keywords` AS `score_keywords`,`a`.`keywords_match` AS `keywords_match`,`a`.`recomendacao` AS `recomendacao`,`a`.`status` AS `status`,`a`.`prioridade` AS `prioridade`,`a`.`visualizado` AS `visualizado`,`a`.`data_criacao` AS `data_criacao`,to_days(`l`.`data_abertura_proposta`) - to_days(current_timestamp()) AS `dias_para_abertura` from ((`alertas_licitacao` `a` join `empresas` `e` on(`e`.`id` = `a`.`empresa_id`)) join `licitacoes` `l` on(`l`.`id` = `a`.`licitacao_id`)) where `e`.`ativo` = 1 and `e`.`monitoramento_ativo` = 1 order by `a`.`prioridade` desc,`a`.`score_total` desc,`a`.`data_criacao` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-30 18:38:45
